global:
  scrape_interval: 15s
  evaluation_interval: 15s

scrape_configs:
  # Scrape Prometheus itself (sanity check)
  - job_name: 'prometheus'
    static_configs:
      - targets: ['prometheus:9090']
